
<table class="footable footable-loaded">
<tbody><tr>
<td bgcolor="#F5F5DC"><center>✔</center></td>
<td><center>物品</center></td>
<td bgcolor="#F5F5DC"><center>✔</center></td>
<td><center>物品</center></td>
<td bgcolor="#F5F5DC"><center>✔</center></td>
<td><center>物品</center></td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>護照正本、台胞證</td>
<td bgcolor="#F5F5DC"></td>
<td>護照影本</td>
<td bgcolor="#F5F5DC"></td>
<td>2吋照片X2</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>錢包(信用卡、外幣)</td>
<td bgcolor="#F5F5DC"></td>
<td>手機</td>
<td bgcolor="#F5F5DC"></td>
<td>外衣、外褲、外套</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>變電器</td>
<td bgcolor="#F5F5DC"></td>
<td>行動電源/電池</td>
<td bgcolor="#F5F5DC"></td>
<td>耳機</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>盥洗用具(牙刷、牙膏、洗面乳)</td>
<td bgcolor="#F5F5DC"></td>
<td>毛巾／浴巾</td>
<td bgcolor="#F5F5DC"></td>
<td>襪子</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>電子機票</td>
<td bgcolor="#F5F5DC"></td>
<td>轉接插頭</td>
<td bgcolor="#F5F5DC"></td>
<td>內衣褲、免洗褲</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>睡衣</td>
<td bgcolor="#F5F5DC"></td>
<td>梳子</td>
<td bgcolor="#F5F5DC"></td>
<td>帽子</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>傳輸線</td>
<td bgcolor="#F5F5DC"></td>
<td>雨傘</td>
<td bgcolor="#F5F5DC"></td>
<td>OK繃、棉花棒</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>訂房憑證/機場接送電話</td>
<td bgcolor="#F5F5DC"></td>
<td>(隱形)眼鏡</td>
<td bgcolor="#F5F5DC"></td>
<td>網路分享器</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>記憶卡</td>
<td bgcolor="#F5F5DC"></td>
<td>自拍神器</td>
<td bgcolor="#F5F5DC"></td>
<td>防曬用品</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>行李箱鎖／鑰匙</td>
<td bgcolor="#F5F5DC"></td>
<td>衛生紙</td>
<td bgcolor="#F5F5DC"></td>
<td>涼鞋/拖鞋</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>旅行行程表</td>
<td bgcolor="#F5F5DC"></td>
<td>小水瓶</td>
<td bgcolor="#F5F5DC"></td>
<td>背包</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>暖暖包</td>
<td bgcolor="#F5F5DC"></td>
<td>泳衣</td>
<td bgcolor="#F5F5DC"></td>
<td>雪衣、雪帽、風衣、圍巾</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>筆／筆記本</td>
<td bgcolor="#F5F5DC"></td>
<td>塑膠袋</td>
<td bgcolor="#F5F5DC"></td>
<td>筆電</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>生理食鹽水</td>
<td bgcolor="#F5F5DC"></td>
<td>地圖</td>
<td bgcolor="#F5F5DC"></td>
<td>夾鏈袋</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td>零食</td>
<td bgcolor="#F5F5DC"></td>
<td>眼罩</td>
<td bgcolor="#F5F5DC"></td>
<td>衣架</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td colspan="5">保養品(化妝水、護髮霜、面膜、乳液、護手霜、護唇膏)</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td colspan="5">化妝品(眉筆、粉餅、眼線筆、睫毛膏、假睫毛、腮紅、口紅、髮蠟、卸妝)</td>
</tr>
<tr>
<td bgcolor="#F5F5DC"></td>
<td colspan="5">個人藥品(胃藥、暈車藥、眼藥水、感冒藥、防蚊液、燒燙傷藥、過敏藥)</td>
</tr>
</tbody></table>
